<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>User</th>
    <th>Body</th>
    <th>Title</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.user.email %></td>
      <td><%= post.body %></td>
      <td><%= post.title %></td>
      <td><%= link_to 'Show', post if can? :read, post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) if can? :update, post %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, post %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
