<!DOCTYPE html>
<html>
<head>
  <title>SidekiqApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <ul class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <% if user_signed_in? %>
          <a class="nav-link" href="/posts">Posts</a>
        <% end %>
      </li>
    </ul>
  </ul>
  <% if user_signed_in? %>
    <%= link_to "logout", destroy_user_session_path, method: :delete, class: "navbar-brand" %>
  <% else %>
    <%= link_to 'sign in', new_user_session_path %>
  <% end %>
</nav>
<%= render partial: "layouts/flash_messages" %>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
